@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap");

body {
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.hero-bg{
    background: url(images/0jOBJSU6tow.png); 
    padding:1em 4em;
  }

  .hero-base{
    display:flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .logo-text{
      color:#FFFCE8;
     
  }
  .diff{
     color:#FFBD4A;
  }

.hamburger{
    margin-top:1em;
}
  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: #FFBD4A;
  }

  .base{     
      font-size:3em;
      max-width: 15em;
      display:block;
      color:#FFFCE8;
      margin:2em 0 0 7em
  }

  .about{
    max-width: 25em; 
    display:block;
    margin:1em auto;
    color:#FFFCE8;
  }

  .book{
      margin: 3em 3em 12em 42em;
      padding:0.85em 2.55em;
      font-size:0.65em;
      background-color:#FFBD4A ;
      border:none;
      border-radius:0.25em;
  }

  .list{
    padding:0.85em 2.55em;
    font-size:0.65em;
    background-color: transparent;
    border:1px solid #FFFCE8;;
     color:#FFFCE8;
    border-radius:0.25em;
  }
  @media only screen and (max-width: 1100px) {
    .base{
        text-align: center;
        margin:2em 0 0 0.45em;
        font-size:1.75em;
        max-width:none;
    } 
        
    .about{      
        display:block;
        margin:1em auto;
        color:#FFFCE8;
        font-size:1.25em;
      }

    .book{
       margin: 1em 0 2em 28em;
      }

    .list{
    margin: 0 0 5em 3.25em;
}
      
  }

  @media only screen and (max-width: 768px)  {
       .base{
         text-align: center;
         margin:2em 0 0 0.45em;
         font-size:1.05em;
         max-width:none;
     } 
    
     .about{      
        display:block;
        margin:1em auto;
        color:#FFFCE8;
        font-size:0.75em;
      }

     .book{
 margin: 1em 0 2em 15em
      }
.list{
    margin: 0 0 1em 3.25em;
}

  }

  @media only screen and (max-width: 480px) {
     body{
        overflow-x: hidden;
     }
  
     .hero-bg{
        padding:1.55em;
    } 

     .base{
         text-align: center;
         margin:2em 0 0 0.45em;
         font-size:1.05em;
         max-width:none;
     } 
    
     .about{      
        display:block;
        margin:1em auto;
        color:#FFFCE8;
        font-size:0.75em;
      }
      
     .btn{
         display:block;
     }
     
     .book{
         display:block;
          margin: 2em 0 2em 8em
      }


     .list{
          margin: 0 0 8em 7.25em;
      }
    }



    @media screen and (device-aspect-ratio: 40/71) {
       .hero-bg{
           padding:1.55em;
       } 
       .base{
            text-align: center;
            margin:2em 0 0 0.45em;
            font-size:0.755em;
            max-width:none;
        } 
       
        .about{      
           display:block;
           margin:1em auto;
           color:#FFFCE8;
           font-size:0.75em;
         }
         
        .btn{
            display:block;
        }
        
        .book{
    margin: 1em 0 2em 5em
         }
   .list{
       margin: 0 0 3em 4.25em;
   }

    }